/* ===========================
   ToC 

   1.0 Custom Properties 
   2.0 Reset
   3.0 Tablet 600px - 900px
   4.0 800px and 1099
   5.0 1100px and Above 
   =========================== */

/* ====================
   1.0 Custom Properties 
   ==================== */

:root {
  // Colors

  --color-green: 75deg, 94%, 57%;

  --color-white: 0deg, 0%, 100%;

  --color-grey-700: 0deg, 0%, 20%;
  --color-grey-800: 0deg, 0%, 12%;
  --color-grey-900: 0deg, 0%, 8%;
  --color-grey-1000: 0deg, 0%, 6%;
}

/* =============
     2.0 Reset 
     ============= */
/* 
  A reset by:
  https://piccalil.li/blog/a-more-modern-css-reset/
  Also made some adjustments for my own needs  
  */

/* Box sizing rules */
/* Remove initial margins */
/* Apply font smoothing */
*,
*::before,
*::after {
  /*Box model stuff*/
  margin: 0;
  /*Miscellaneous*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Prevent font size inflation */
/* Simplifies rem calculations */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  /*Box model stuff*/
  min-height: 100vh;
  max-width: 100vw;
  /*Typography stuff*/
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;

  color: hsl(var(--color-white));
  background-color: hsl(var(--color-grey-1000));
}

.site-links:link,
.site-links:visited {
  text-decoration: none;
  color: hsl(var(--color-white));
}

.site-links:active,
.site-links:hover {
  color: hsl(var(--color-grey-800));
  background-color: hsl(var(--color-green));
  cursor: url("./assets/images/icons8-cursor-18.png"), auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* =======================
     3.0 Tablet 550px - 899px 
     ======================= */

@media (min-width: 550px) {
  html {
    font-size: 62.5%;
  }

  body {
  }
}

/* ==================
     4.0 800px and 1099 
     ================== */
@media (min-width: 800px) {
  body {
  }
}

/* ====================
     5.0 1100px and Above 
     ==================== */
@media (min-width: 1100px) {
  body {
  }
}
