/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  --color-green: 75deg, 94%, 57%;

  --color-white: 0deg, 0%, 100%;

  --color-grey-700: 0deg, 0%, 20%;
  --color-grey-800: 0deg, 0%, 12%;
  --color-grey-900: 0deg, 0%, 8%;
}

/* =================
   Mixins
   ================= */

// Grid w/borders from https://geary.co/internal-borders-css-grid/

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.75rem;
  margin-block-end: 4.8rem;

  &__img {
    margin-block-start: 2.4rem;
    margin-block-end: 1.9rem;
    width: 32%;
    border-radius: 50%;
  }

  &__name {
    font-size: 2.45rem;
    font-weight: 600;
  }

  &__location {
    font-size: 1.38rem;
    color: hsl(var(--color-green));
    margin-block-end: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-block-start: 0.75rem;
    margin-block-end: -2rem;
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  margin-block-start: 3rem;
  margin-block-end: 1.4rem;
}

.site-links {
  display: flex;
  justify-content: center;

  border-radius: 8px;
  padding: 1.3rem;
  margin-bottom: 1rem;
  background-color: hsl(var(--color-grey-700));

  font-size: 1.4;
  font-weight: 600;
}
