/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   1.2 Layout
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 1.4rem;
  text-align: center;

  text-wrap: balance;
  margin-block-start: -8.5rem;

  @media (min-width: 400px) {
    margin-block-start: -2.5rem;
  }

  @media (min-width: 830px) {
    margin-block-start: -1.5rem;
  }
}
.attribution a {
  color: hsl(var(--color-green));
}

/* =============
   1.2 Layout 
   ============= */

.app-layout {
  &__outer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    min-height: 100vh;
    background-color: hsl(var(--color-grey-900));
  }

  &__inner {
    border-radius: 12px;
    margin: auto 0;

    background-color: hsl(var(--color-grey-800));
    padding-inline: 2.5rem;
    width: 88%;
    height: 100%;

    @media (min-width: 501px) {
      width: 60%;
    }

    @media (min-width: 701px) {
      width: 40%;
    }

    @media (min-width: 901px) {
      width: 30%;
      height: 70%;
    }
  }
}
