/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   1.2 Layout
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 1.6rem;
  text-align: center;

  text-wrap: balance;
  margin-block-start: 3rem;
  margin-block-end: -1.5rem;

  @media (min-width: 600px) {
    margin-block-start: -2rem;
    margin-block-end: 3rem;
    font-size: 1.9rem;
  }

  @media (min-width: 900px) {
    margin-block-start: -7rem;
    margin-block-end: 2.5rem;
  }

  @media (min-width: 1420px) {
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* =============
   1.2 Layout 
   ============= */

body {
  margin-inline: 19rem;
}

.app-layout {
  &__outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: 100vh;
    background-color: hsl(var(--color-grey-900));
  }

  &__inner {
    border-radius: 6px;
    overflow: hidden;

    width: 28%;
    height: 70%;
    background-color: hsl(var(--color-grey-800));
  }
}
